= render "layouts/header"

.mypage
  = render "side_menu"
  .main_contents
    .user_header
      .user_header__info
        = image_tag asset_path("material/icon/member_photo_noimage_thumb.png")
        %p= current_user.name
        %p 出品数 0
    .item_window
      %h3 購入した商品
      .item_window__list
        .item
          = image_tag asset_path("material/pict/pict-reason-02.jpg")
          %p 商品Aを購入しました。
        .item
          = link_to "一覧を見る", "#", class: "index_btn"


= render "layouts/footer"