= render "devise/template/header"
.wrapper
  .confirm-item
    .confirm-item__box

      %section.confirm-item__box__title
        購入内容の確認

      %section.confirm-item__box__itemView
        .confirm-item__box__itemView__image
          = image_tag @item_image.src.url, size:"85x85"
        .confirm-item__box__itemView__text
          = @item.text
          .confirm-item__box__itemView__text__price
            = "¥ #{@item.price.to_s(:delimited)}(税込み) #{@item.delivery_charge_bearer}"

      %section.confirm-item__box__payMent
        .confirm-item__box__payMent__text
          支払い金額
        .confirm-item__box__payMent__price
          = "¥ #{@item.price.to_s(:delimited)}"

      %section.confirm-item__box__payMethod
        .confirm-item__box__payMethod__text
          支払い方法 :クレジットカード
          .confirm-item__box__payMethod__info
            %p.creditNumber
              = "カード番号 :**** **** **** " + @card_info.last4
            %p.expirDate
              = "有効期限: " + @exp_month + " / " + @exp_year
        -# .confirm-item__box__payMethod__info__edit
        -#   %p.creditChange
        -#     変更する
        -#   %p.creditRegistration
        -#     登録する

      %section.confirm-item__box__address
        .confirm-item__box__address__text
          配送先
          .confirm-item__box__address__info
            %p.postNumber
              = "〒" + @address.post_number
            %p.streetAddress
              = "#{@address.prefecture.name}#{@address.city}#{@address.house_number}"
            %p.userName
              = @address.last_name + @address.first_name
        .confirm-item__box__address__change
          = link_to edit_address_users_path do
            変更する

      %section.confirm-item__box__purchase
        = form_tag(action: :pay, method: :post) do
          %input{type:"submit",class:"purchase-btn", value:"購入内容を確定する"}
= render "devise/template/footer"
