- items.each do |item|
  %li.list
    = link_to item_path(item.id) do
      = image_tag item.item_images.first.src_url, class: 'image'
      .info
        .info__top
          .name
            = item.name
          .price
            = "#{item.price}円 "
            %p (税込)
        .favorite_count
          = image_tag "icon/icon_stared", size: "18x18"
          = item.favorites.count
          
          