= render "devise/template/header"
.wrapper
  .form-new
    = form_with model: @item, local: true do |f|
      .form-image
        .form-image__label
          %label<>出品画像
          %span<>必須
        %p 最大5枚までアップロードできます
        .form-image__box
          .prev-content
            - @item.item_images.each do |image|
              .preview-box
                .upper-box
                  = image_tag image.src.url, alt: "preview"
                .lower-box
                  .delete-box
                    %span 削除

          .label-content
            = f.label :"item_images_attributes_#{@item.item_images.length}_src", class: "label-box", id: "label-box--#{@item.item_images.length}" do
              %pre.label-box-visible 
                = image_tag "icon_camera.png", size: '35x35' 
          .hidden-content
            = f.fields_for :item_images do |i|
              = i.file_field :src, class: "hidden-field"
              = i.check_box:_destroy, class: "hidden-checkbox"
            - @item.item_images.length.upto(4) do |i|
              %input{name: "item[item_images_attributes][#{i}][src]", id: "item_item_images_attributes_#{i}_src", class:"hidden-field", type:"file"}


      .form-item
        .form-item__name
          .form-item__name__label
            %label<>商品名
            %span<>必須
          .form-item__name__input
            = f.text_field :name, placeholder: "40文字まで"
        .form-item__text
          .form-item__text__label
            %label<>商品の説明
            %span<>必須
          .form-item__text__input
            = f.text_area :text, placeholder: "商品の説明（必須1,000文字以内(色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"

      .form-detail
        %p 商品の詳細
        .form-detail__category
          .form-detail__category__label
            %label<>カテゴリー
            %span<>必須
          .form-detail__category__input
            = f.collection_select :category_id, @parents, :id, :name, {selected: @parent.id}, {class: "select-default", id: "category_select"}
            = f.collection_select :category_id, @children, :id, :name, {selected: @child.id}, {class: "select-default", id: "children_categories"}
            = f.collection_select :category_id, @grandchildren, :id, :name, {selected: @grandchild.id}, {class: "select-default", id: "grandchildren_categories"}

        .form-detail__brand
          .form-detail__brand__label
            %label<>ブランド
            %span<>任意
          .form-detail__brand__input
            = f.text_field :brand, placeholder: "例）シャネル"
        .form-detail__status
          .form-detail__status__label
            %label<>商品の状態
            %span<>必須
          .form-detail__status__input
            = f.select :status, Item.statuses.keys.map{|k| [k]}, {include_blank: "選択して下さい"}
      .form-shipping
        .form-shipping__title
          %p 配送について
        .form-shipping__charge
          .form-shipping__charge__label
            %label<>配送料の負担
            %span<>必須
          .form-shipping__charge__input
            = f.select :delivery_charge_bearer, Item.delivery_charge_bearers.keys.map{|k| [k]}, {include_blank: "選択して下さい"}
          
        .form-shipping__area
          .form-shipping__area__label
            %label<>発送元の地域
            %span<>必須
          .form-shipping__area__input
            = f.collection_select :shipping_area,  Prefecture.all, :id, :name, {include_blank: "選択して下さい"}
        .form-shipping__days
          .form-shipping__days__label
            %label<>発送までの日数
            %span<>必須
          .form-shipping__days__input
            = f.select :delivery_days, Item.delivery_days.keys.map{|k|[k]}, {include_blank: "選択して下さい"}
      .form-price
        .form-price__title
          %p 価格（¥300~9,999,999
        .form-price__value
          .form-price__value__left
            %label<>販売価格
            %span<>必須
          .form-price__value__right
            %span<>¥
            = f.text_field :price, placeholder: "0"
        .form-price__fee
          販売手数料（10%）
          %span<>ー
        .form-price__plofit
          販売利益
          %span<>ー
      .form-btn
        .form-btn__top
          = f.submit '変更する', class:"form-btn__top"
        .form-btn__midle
          = link_to "#" do
            下書きに保存
        .form-btn__bottom
          = link_to root_path do
            もどる

      .form-term
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
  = render "devise/template/footer"






