= render "layouts/header"

.wrapper
  .item-box
    .item
      %h2.item__name
        = @item.name
      %ul.item__images
        %li.item__images__main
          = image_tag @main_image.src.url, size: "400x400"
          - if @item.buyer_id.present? && @item.buyer_id !=current_user.id
            .sold_out
              SOLD_OUT!
           
              
        %ul.item__images__sub
          - @item.item_images.each do |image|
            %li
              = image_tag image.src.url, size:"100x100"          

      .item__price
        = "#{@item.price}円"
        .item__price__info
          %span
            = @item.delivery_charge_bearer
      .item__details
        %p
          = @item.text
      %table.item__table
        %tbody.item__info
          %tr
            %th 出品者
            %td
              = @item.seller.name
          %tr
            %th カテゴリ
            %td
              = link_to "#" do
                = "#{@parent_category.name}"
              = link_to "#" do
                = "/#{@child_category.name}"
              = link_to "#" do
                = "/#{@grandchild_category.name}"
          %tr
            %th ブランド
            %td
              = @item.brand
          %tr
            %th 商品の状態
            %td
              = @item.status
          %tr
            %th 配送料の負担
            %td
              = @item.delivery_charge_bearer
          %tr
            %th 発送元の地域
            %td
              = @item.prefecture.name
          %tr
            %th 発送日の目安
            %td
              = @item.delivery_days

      -# セラーとカレントユーザーが同じ場合下記表示/
      - unless @item.buyer_id.present?
        - if user_signed_in? && current_user.id == @item.seller_id
          %ul.item__edit-btns
            %li.edit-btn
              = link_to edit_item_path(@item.id) do
                編集
            %li.delete-btn
              = link_to item_path(@item.id), method: :delete do
                削除
        - elsif user_signed_in?
          .item__buy-btn
            = link_to buy_item_purchases_path(@item.id) do
              購入画面に進む

    %ul.pagenation
      - if request.referer&.include?("/users/sell_items")  or request.referer&.include?("/users/bought_items")
        = link_to "<< 戻る", :back
      -else
        %li.prep-item
          - if @item.previous.present?
            = link_to item_path(@item.previous) do
              << 前へ
        %li.prep-item
          - if @item.next.present?
            = link_to item_path(@item.next) do
              次へ >>
= render "layouts/footer"
