= render "layouts/header"

.wrapper
  .item-box
    .item
      %h2.item__name
        = @item.name
      %ul.item__images
        %li.item__images__main
          =image_tag "pict-reason-02.jpg", size:"400x400"
        %ul.item__images__sub
          %li
            =image_tag "pict-reason-02.jpg", size:"120x120"
          %li
            =image_tag "pict-reason-02.jpg", size:"120x120"
          %li
            =image_tag "pict-reason-02.jpg", size:"120x120"
      .item__price
        = "#{@item.price}円"
        .item__price__info
          %span (税込)
          %span 送料込み
      .item__details
        %p 逃した春を思い出させてくれるようなワンピース。白色、綿素材、１、２回着用。夏に向けてまだまだ活躍できるアイテムです！
      %table.item__table
        %tbody.item__info
          %tr
            %th 出品者
            %td ちゃん
          %tr
            %th カテゴリ
            %td カテゴリ項目
          %tr
            %th ブランド
            %td 
          %tr
            %th 商品サイズ
            %td 
          %tr
            %th 商品の状態
            %td 新品、未使用
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 発送元の地域
            %td 大阪府
          %tr
            %th 発送日の目安
            %td 1~2日

        -# セラーの場合は編集削除ボタンを表示させる
      - if user_signed_in?
        .item__buy-btn
          = link_to items_buy_path do
            購入画面に進む
        
        -# セラーとカレントユーザーが同じの場合下記表示/
        %ul.item__edit-btns
          %li.edit-btn
            = link_to items_buy_path do
              編集
          %li.delete-btn
            = link_to items_buy_path do
              削除

    %ul.pagenation
      %li.prep-item
        = link_to "#" do
          前の商品
      %li.prep-item
        = link_to "#" do
          後ろの商品

= render "layouts/footer"
