= render "layouts/header"

.wrapper
  .item-box
    .item
      %h2.item__name
        = @item.name
      %ul.item__images
        %li.item__images__main
          - @item.item_images.each do |image|
            = image_tag image.src.url, size:"200x200"
        -# %ul.item__images__sub
        -#   %li
        -#     =image_tag "pict-reason-02.jpg", size:"120x120"
        -#   %li
        -#     =image_tag "pict-reason-02.jpg", size:"120x120"
        -#   %li
        -#     =image_tag "pict-reason-02.jpg", size:"120x120"
      .item__price
        = "#{@item.price}円"
        .item__price__info
          %span
            = @item.delivery_charge_bearer
      .item__details
        %p
          = @item.text
      %table.item__table
        %tbody.item__info
          %tr
            %th 出品者
            %td
              = @item.seller.name
          %tr
            %th カテゴリ
            %td
              = @item.category.name
          %tr
            %th ブランド
            %td
              = @item.brand
          -# %tr
          -#   %th 商品サイズ
          -#   %td 
          %tr
            %th 商品の状態
            %td
              = @item.status
          %tr
            %th 配送料の負担
            %td
              = @item.delivery_charge_bearer
          %tr
            %th 発送元の地域
            %td
              = @item.prefecture.name
          %tr
            %th 発送日の目安
            %td
              = @item.delivery_days

      -# セラーとカレントユーザーが同じの場合下記表示/
      - if user_signed_in? && current_user.id == @item.seller_id
        %ul.item__edit-btns
          %li.edit-btn
            = link_to items_buy_path do
              編集
          %li.delete-btn
            = link_to items_buy_path do
              削除
      - else 
        .item__buy-btn
          = link_to items_buy_path do
            購入画面に進む

    %ul.pagenation
      %li.prep-item
        = link_to "#" do
          前の商品
      %li.prep-item
        = link_to "#" do
          後ろの商品

= render "layouts/footer"
